
@model PizzaBox.Client.Models.LoginModel;

@{

    ViewData["Title"] = "Login";

}

<h1 class="display-4">Login</h1>

<hr />
<hr />
<form asp-controller="LoginController" asp-action="SignIn?{Username}/{Password}" method="post">
    @Html.EditorForModel()
    <hr />
    <hr />
    <input type="submit" name="SignIn" value="SignIn" formaction="Login/SignIn" formmethod="post" />
    <hr />
    <hr />
</form>