<h1 class="display-4">Login - Bad Credentials</h1>

<hr />
<hr />

<form asp-controller="LoginController">
    <text>Username and/or Password Invalid</text>
    <hr />
    <input type="submit" name="Retry" value="Retry" formaction="/../Login" />
    <hr />
    <hr />
</form>