@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2 class="display-4">Place and Order</h2>
</div>

<form asp-controller="HomeController" asp-action="SignIn?{Username}/{Password}" method="post">

    <hr />
    <hr />

    <h4 class="display-4">Items</h4>

    <hr />

    <div>
        @Html.RenderPartialAsync("OrderItems")
    </div>

    <h4 class="display-4">Patron Information</h4>

    <hr />

    <div>
        @Html.RenderPartialAsync("OrderRecipient")
    </div>

    <h4 class="display-4">Delivery Location</h4>

    <hr />

    <div>
        @Html.RenderPartialAsync("OrderAddress")
    </div>

    <hr />

    <input type="submit" name="PlaceOrder" value="Place Order" formaction="PrintReciept" formmethod="post" />

    <hr />
    <hr />

</form>