@model PizzaBox.Client.Models.OrderRecipientModel

<form asp-controller="HomeController" asp-action="PullLocation" method="post">


    <div>

        @{

            @Html.EditorForModel()

        }

    </div>

</form>