@model PizzaBox.Client.Models.OrderAddressModel

<form asp-controller="HomeController" asp-action="PullLocation" method="post">


    <div>

        @{
    
            @Html.EditorForModel()

        }

    </div>

</form>