@model PizzaBox.Client.Models.OrderItemsModel

<form asp-controller="HomeController" asp-action="PullLocation" method="post">


    <div>

        @*<select asp-items="ViewBag.States" style="width:auto"></select>*@

        @*@Html.Raw("<select>" + ViewBag.Items + "</select>")*@

        @*<select asp-for="@Model.ItemName" asp-items="ViewBag.Items"></select>*@

    </div>

</form>